<footer class="footer">
    <div class="container">
        <p class="copyright text-muted">&copy; <%= config.title %> | <a href="https://cacombos.com/terms">Terms of Use</a> | <a href="https://cacombos.com/privacy">Privacy</a></p>
    </div>
</footer>