<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <%- css('bootstrap/css/bootstrap.min.css') %>

    <%- css('/css/style.css') %>

    <title><%= config.title %></title>
</head>